{{define "docstring"}}
  {{- if .Title }}{{ .Title }}{{- if .Description }}
//
// {{ comment .Description }}
{{- end }}
{{- else if .Description}}{{ comment .Description }}
{{- else }}{{ humanize .Name }}
{{- end }}
{{- end }}
