{{define "docstring"}}{{ pascalize .Name }} {{ if .Title }}{{ .Title }}{{ if .Description }}

{{ .Description }}{{ end }}{{ else if .Description}}{{ .Description }}{{ else }}{{ humanize .Name }}{{ end }}
{{end}}
