/* {{ template "docstring" . }}{{ template "propertyValidationDocString" .}} */
{{ pascalize .Name}} {{ template "schemaType" .T }} `json:"{{ .Name }}"{{ if .XMLName }} xml:"{{ .XMLName }}"{{ end }}`
