[submodule "docs/public"]
	path = docs/public
	url = git@github.com:go-swagger/go-swagger.github.io.git
[submodule "docs/themes/bootie-docs"]
	path = docs/themes/bootie-docs
	url = https://github.com/key-amb/hugo-theme-bootie-docs
