[project]
	description = Swagger 2.0 implementation for go
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ivan Porto Carrero (casualjim)
[access "refs/for/refs/*"]
	read = group user/Ivan Porto Carrero (casualjim)
	push = group user/Ivan Porto Carrero (casualjim)
	label-Code-Review = -2..+2 group user/Ivan Porto Carrero (casualjim)
	label-Verified = -1..+1 group user/Ivan Porto Carrero (casualjim)
	rebase = group user/Ivan Porto Carrero (casualjim)
	removeReviewer = group user/Ivan Porto Carrero (casualjim)
	submit = group user/Ivan Porto Carrero (casualjim)
[access "refs/heads/*"]
	read = group user/Ivan Porto Carrero (casualjim)
	create = group user/Ivan Porto Carrero (casualjim)
	push = +force group user/Ivan Porto Carrero (casualjim)
	pushMerge = group user/Ivan Porto Carrero (casualjim)
[access "refs/tags/*"]
	push = +force group user/Ivan Porto Carrero (casualjim)
	pushTag = group user/Ivan Porto Carrero (casualjim)
	pushSignedTag = group user/Ivan Porto Carrero (casualjim)
