package {{package}}

import (
  {{#imports}}{{import}}
  {{/imports}}
  "github.com/casualjim/go-swagger/validate"

)

type {{classname}} struct {
  {{#parent}}{{parent}}{{/parent}}
  {{#vars}}
  {{#description}}// {{description}}{{/description}}
  {{name}} {{#isNotRequired}}*{{/isNotRequired}}{{datatype}}
  {{/vars}}
}

func (i *{{classname}}) Validate() *validate.Result {
  return nil
}