{{ partial "header.html" . }}

<div class="row">
	<div class="col-sm-8 doc-main">
		<main role="main">
			<article>
				<a id="title"></a>
				<h1 class="entry-title">{{ .Title }}</h1>
				<span class="entry-meta"><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time></span>
				<section>
					{{ .Content }}
				</section>
			</article>
		</main>
	</div> <!-- /.doc-main -->

	{{ partial "sidebar-single.html" . }}

</div> <!-- /.row -->

{{ partial "footer.html" . }}