{{ $baseUrl := .Site.BaseUrl }}
{{ partial "header.html" . }}

<main role="main">

<div class="row">
	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<h1>{{ .Site.Title }}</h1>
		<p>{{ if isset .Site.Params "description" }}{{ .Site.Params.description }}{{ else }}You can customize this text by params "description" in your <code>config.toml</code>.{{ end }}</p>
	</div>
</div>

{{ if isset .Site.Params "withTopContent" }}{{ partial "top-content.html" . }}{{ end }}

<!--
<div class="row">
	<div class="col-sm-4 doc-main">
		<h3>Categories</h3>
		<ul class="list-unstyled">
		{{ range $name, $taxonomy := .Site.Taxonomies.categories }}
			<li><a href="/categories/{{ $name | urlize }}">{{ $name }}</a></li>
		{{ end }}
		</ul>
	</div>
	<div class="col-sm-4 doc-main">
		<h3>Tags</h3>
		<ul class="list-unstyled">
		{{ range $name, $taxonomy := .Site.Taxonomies.tags }}
			<li><a href="/categories/{{ $name | urlize }}">{{ $name }}</a></li>
		{{ end }}
		</ul>
	</div>
</div> <!-- /.row -->

{{ if isset .Site.Params "withSitePosts" }}
<hr />

<div class="row doc-main text-center">
	<a href="{{ $baseUrl }}/post">See posts for {{ .Site.Title }}</a>
</div>
{{ end }}

</main>

{{ partial "footer.html" . }}